{% load static %}
<html>
{% block title %}
<title>Recruit-main</title>
{% endblock %}

{% include 'util/navbar.html' %}
	<body class="is-preload">
		<!-- First -->
			<section id="first" class="main">
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon fa-clock"></span></span>
									<header>
										<h3>Gravida</h3>
									</header>
									<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
									Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
									ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
									accumsan vivamus.</p>
								</section>
							</div>
							<div class="col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
									<header>
										<h3>Vivamus</h3>
									</header>
									<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
									Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
									ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
									accumsan vivamus.</p>
								</section>
							</div>
							<div class="col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
									<header>
										<h3>Accumsan</h3>
									</header>
									<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
									Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
									ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
									accumsan vivamus.</p>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>
        {% include 'util/footer.html' %}
    </body>
<head>
    <title>Tessellate by HTML5 UP</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
</html>