{% extends 'util/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>My Page</title>
{% endblock %}

{% block main_area %}
    <div>
        <hr/>
          {% if user.is_authenticated %}
            <div class="d-grid gap-2">
              <a style="width:500px;margin-left: 200px; margin-top: 50px; margin-bottom: 50px" class="btn btn-primary shadow rounded" href="/recruit/mypage/recruit/" role="button">
                  &nbsp;&nbsp;작성 글 목록
              </a>
              <a style="width:500px;margin-left: 200px" class="btn btn-primary shadow rounded" href="/recruit/mypage/join/" role="button">
                  &nbsp;&nbsp;스터디 신청 목록
              </a>
              </div>
          {% endif %}
      </div>

{% endblock %}